
#rpsetting {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;

color: #fff;
 opacity: 0.9;
 
 background: #96A6A6;

 -webkit-box-shadow: -1px -1px 10px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -1px -1px 10px rgba(50, 50, 50, 0.75);
 box-shadow:         -1px -1px 10px rgba(50, 50, 50, 0.75);
 
 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 border-right: 1px solid #424E55;
 border-bottom: 1px solid #424E55;
  border-left: 1px solid #5F717B;
   border-top: 1px solid #5F717B;
    
 
  }
  
#rpcontent {

height: 300px;



 color: #fff;

}

#rpheader {
	height: 35px;
	width: 248px;
	
	font-size: 16px;

}

#rpheader.close {
	

}




#rpcontent.close {
display: none;
}



#slider_opacity {
	float: left;
	width: 100px;
}

#opacity_wert {
margin: 0 0 0 10px;
	width: 20px;
	color: #000;
	float: left;
}