@import url(http://fonts.googleapis.com/css?family=Orbitron:500);


#rpsetting {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
	
  padding: 8px;

  color: #fff;
font-family: 'Orbitron', sans-serif;   
 opacity: 0.9;
 
 background: #22313F;

 -webkit-box-shadow: -1px -1px 10px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -1px -1px 10px rgba(50, 50, 50, 0.75);
 box-shadow:         -1px -1px 10px rgba(50, 50, 50, 0.75);
   
 
  }
  
#rpcontent {
margin: 15px 0 0 0;
height: 300px;


}

#rpheader {
	float: left;
	width: 100%;
	font-size: 14px;
	line-height: 1.2;
}

#openclose {
width: 20px;
float: right;

}

#openclose:hover {
cursor: pointer;
color: #000;
}



#rpcontent.close {
display: none;
}



#slider_opacity {
	float: left;
	width: 100px;
}

#opacity_wert {
margin: 0 0 0 10px;
	width: 20px;
	color: #000;
	float: left;
}